.newsletter-wrapper {
  background-color: #defaec;
  text-align: center;
  padding: 10rem 0;
}

.newsletter-wrapper > p:nth-of-type(2) {
  font-style: "Archivo Black";
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0 7rem;
}

input {
  border: none;
  width: 300px;
  padding: 1rem;
  border-radius: 1px;
}

.subscribe {
  margin: 3rem 0 0 0;
}

button {
  height: 3rem;
  width: 12rem;
  font-size: 18px;
  margin: 0 0 0 2rem;
  border: none;
  background-color: #000b2d;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}
