@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"),
    url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: local("Lora"), url("./assets/fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Archivo Black";
  font-weight: 400;
  src: local("ArchivoBlack"), url("./assets/fonts/ArchivoBlack-Regular.ttf");
}

body {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(248, 248, 248, 0.925);
}
